
<!-- Topbar Start -->
<div class="container-fluid topbar bg-light px-5 d-none d-lg-block">
    <div class="row gx-0 align-items-center">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-flex flex-wrap">
                <a href="#" class="text-muted small me-4"><i class="fas fa-map-marker-alt text-primary me-2"></i>Find A Location</a>
                <a href="tel:+01234567890" class="text-muted small me-4"><i class="fas fa-phone-alt text-primary me-2"></i>+233202483231 </a>
                <a href="mailto:example@gmail.com" class="text-muted small me-0"><i class="fas fa-envelope text-primary me-2"></i>optimusinforservice&#64;gmail.com
                </a>
            </div>
        </div>



        <!-- <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a routerLink="/register"><small class="me-3 text-dark"><i class="fa fa-user text-primary me-2"></i>Register</small></a>
                <a routerLink="/login"><small class="me-3 text-dark"><i class="fa fa-sign-in-alt text-primary me-2"></i>Login</small></a>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle text-dark" data-bs-toggle="dropdown"><small><i class="fa fa-home text-primary me-2"></i> My Dashboard</small></a>
                    <div class="dropdown-menu rounded">
                        <a href="#" class="dropdown-item"><i class="fas fa-user-alt me-2"></i> My Profile</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-comment-alt me-2"></i> Inbox</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-bell me-2"></i> Notifications</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-cog me-2"></i> Account Settings</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-power-off me-2"></i> Log Out</a>
                    </div>
                </div>
            </div>
        </div> -->


        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                
                <!-- Show Register & Login when NO username -->
                <a routerLink="/register" *ngIf="!username">
                    <small class="me-3 text-dark">
                        <i class="fa fa-user text-primary me-2"></i>Register
                    </small>
                </a>
                <a routerLink="/login" *ngIf="!username">
                    <small class="me-3 text-dark">
                        <i class="fa fa-sign-in-alt text-primary me-2"></i>Login
                    </small>
                </a>
        
                <!-- Show My Dashboard when username is available -->
                <!-- <div class="dropdown" *ngIf="username && timeLeftDisplay.display<0"> -->
                    <div class="dropdown" *ngIf="username">
                    <a href="#" class="dropdown-toggle text-dark" data-bs-toggle="dropdown">
                        <small>
                            <i class="fa fa-home text-primary me-2"></i> {{username}} Dashboard
                        </small>
                    </a>
                    <div class="dropdown-menu rounded">
                        <a routerLink="/cart" class="dropdown-item">
                            <i class="fas fa-user-alt me-2"></i> Cart
                        </a>
                        <!-- <button class="btn btn-secondary" (click)="openModal('@fat')">Cart</button> -->

                       





                            
            
                        <!-- <a href="#" class="dropdown-item">
                            <i class="fas fa-comment-alt me-2"></i> Inbox
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-bell me-2"></i> Notifications
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-cog me-2"></i> Account Settings
                        </a> -->
                        <button (click)="logout()" class="dropdown-item">
                            <i class="fas fa-power-off me-2"></i> Log Out
                        </button>
                    </div>
                </div>



        
            </div>
        </div>
        






    </div>
</div>
<!-- Topbar End -->

<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a routerLink="/" class="navbar-brand p-0">
            <h1 class="text-primary"><i class="fas me-3"></i>Optimus</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/" class="nav-item nav-link active">Home</a>
                <a routerLinkActive="active" routerLink="/about" class="nav-item nav-link">About</a>
                <a routerLinkActive="active" routerLink="/services" class="nav-item nav-link">Services</a>
                <a routerLinkActive="active" routerLink="/blog" class="nav-item nav-link">Blogs</a>
                <!-- <a routerLinkActive="active" routerLink="/offers" class="nav-item nav-link">Our Offers</a> -->

                <a (click)="logout()" *ngIf="username" class="nav-item nav-link d-flex align-items-center gap-1 position-relative d-block d-md-none">
                    <i class="fas fa-power-off me-2"></i> Log Out
                </a>
            
                <a routerLinkActive="active" routerLink="/cart" class="nav-item nav-link d-flex align-items-center gap-1 position-relative">
                    <span>Cart</span>
                    <i class="material-icons">shopping_cart</i>
                    <span class="badge  top-0 start-100 translate-middle bg-danger text-white rounded-pill">
                        {{ cartCount }}
                    </span>
                </a>
            </div>
            
            <a  *ngIf="!username" routerLink="/register" class="btn btn-primary rounded-pill py-2 px-4 my-3 my-lg-0 flex-shrink-0">Get Started</a>
        </div>
    </nav>

    
</div>
<!-- Navbar & Hero End -->







<!-- ====================CART AS MODAL===================== -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1"
data-bs-backdrop="static"
data-bs-keyboard="false"
aria-labelledby="exampleModalLabel" 
 aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Complete Your Purchase</h5>
      </div>
      <div class="modal-body">
        <form  [formGroup]="paymentForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Amount to pay GH₵ :</label>
            <input type="text" class="form-control" formControlName="amount" id="recipient-name" 
            (click)="disableField()">
          </div>

          <select class="form-select" formControlName="network"  aria-label="Default select example">
  <option selected>Select Network</option>
  <option value="13">MTN</option>
  <option value="6">Vodafone</option>
  <option value="7">Airtel Tigo</option>
</select>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Mobile Number:</label>
            <input type="text" formControlName="mobileNumber" class="form-control" id="recipient-name">
            <small class="text-danger" *ngIf="paymentForm.controls['mobileNumber'].invalid && paymentForm.controls['mobileNumber'].touched">
              Enter a valid 10-digit mobile number
            </small>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="paymentForm.invalid" (click)="sendMessage()">Pay Now!</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" >Cancel</button>
      </div>
    </div>
  </div>
</div> -->






<!-- <span >Your session expires in : {{ timeLeftDisplay.display }}</span> -->
